
  <footer class="footer mt-auto bg-ink text-light">
    <div class="container-fluid p-5">
      <div class="row">
        <div class="col-6">
          <h4 class="mb-3">Kaffeinated Kodemonkey ~ <strong><em>An A11y Evaluation Audit Agency</em></strong></h4>
          <div class="row">
            <div class="col-4">
              <p>Social Media</p>
              <p>Logo & POCC Seal</p>
            </div>
            <div class="col-8">
              <p>This site is for internal use only by A11y Dev and Kodemonkey's</p>

              <p>For assistance with the <strong><em>AEA</em></strong> Tool contact your assigned <br> A11y Dev
              or email <a href="<a href="mailto:kaffeinatedkodemonkey@gmial.com?subject=AEA-Support">AEA Support</a>.</p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <h4><strong>Accissibility Compliance</strong></h4>
              <ul>
                <li><a href="{{ site.url }}/pocc.html">POCC Overview</a></li>
                <li><a href="{{ site.url }}/">WCAG Report</a></li>
                <li><a href="{{ site.url }}/">Accessibility Statement</a></li>
                <li><a href="{{ site.url }}/disclaimer.html">Accessibility Conformacne Report</a></li>
              </ul>
            </div>
            <div class="col-6">
              <h4><strong>Legal Notices</strong></h4>
              <ul>
                <li><a href="{{ site.url }}/disclaimer.html">Disclaimer</a></li>
                <li><a href="{{ site.url }}/">Privacy Policy</a></li>
                <li><a href="{{ site.url }}/">Terms of Services</a></li>
                <li><a href="{{ site.url }}/license.html">MIT License</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container text-center pt-4">
      <p><strong>The Monkeyroom ~ A11y Evaluation Audit</strong> | Designed by Kaffeinated Kodemonkey &copy {{ site.time | date: "%Y" }}
      | <a href="assets/Resources/LICENSE.html" class="text-sucess">License</a></p>
    </div>
  </footer>
