<a class="visually-hidden-focusable" href="#content">Skip to main content</a>

<nav class="navbar navbar-expand-sm navbar-dark bg-ink">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/img/KKM-Logo.png" alt="KKM Logo" width="50" class="d-inline-block align-text-middle pe-3">Monkeyroom ~ <em>AE</em></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ site.url }}/user_guide/index.html">User Guide</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            {% for post in site.posts %}
              <li><a class="dropdown-item" href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
            <li><a class="dropdown-item" href="{{ site.url }}/assets/Resources/TT5-ID-FPC_Mapping_07-15-20.xlsx" download>TT5-ID-FPC_Mapping_07-15-20.xlsx</a></li>
            <li><a class="dropdown-item" href="{{ site.url }}/assets/Resources/SuccessCriteriaTT4.json" download>SuccessCriteriaTT4.json</a></li>
            <li><a class="dropdown-item" href="{{ site.url }}/assets/Resources/SuccessCriteriaTT4.jsonSuccessCriteriaTT5.1.1.json" download>Trusted Tester v.5.1.1 </a></li>
            <!--<li><a class="dropdown-item" href="#">Instructions</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Accessibility
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">AEA Report</a></li>
            <li><a class="dropdown-item" href="#">A11y Statment</a></li>
            <li><a class="dropdown-item" href="#">A11y Conformance Report (ACR)</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Policies
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Disclamer</a></li>
            <li><a class="dropdown-item" href="#">Privacy Policy</a></li>
            <li><a class="dropdown-item" href="#">Terms of Service</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
