<main class="flex-shrink-0">
  <div class="container-fluid ps-5">
    <h2>{{ page.title}}</h2>
    <div class="row mx-5">
      <div class= "col-md-9">
        <p>Our mentorship program is thoughtfully designed to provide you with valuable real-world experience and the opportunity to
        enhance your resume.</p>

        <p>During the program, you will have the opportunity to work on client projects or company projects, based on skill set
        and project availability.</p>

        <p>We believe this mentorship experience will be enriching and empowering for you as you develop your skills and
        contribute to the accessibility development community.</p>

        <p>Mentoring through this program is <strong>non-paying</strong>, as our focus is empowering A11y Developers
        to become the best versions of themselves and land that dream job.</p>

        <p>Thank you for joining us on this journey towards making a positive difference!</p>
      </div>
      <div class="col-3">
        <p><img src="/assets/img/KKM-Logo.png" alt="Kaffeinated Kodemonkey POCC Seal" style="width:13em; display: inline-block;position: relative; top:0em;left: -2em;"></p>
      </div>
    </div>

    <h2>Let's Begin</h2>
    <div class="row mx-5">
      <div class="col-12">
        <p>To ensure smooth progress and efficient collaboration, all work will be tracked in HubSpot and GitHub.</p>

        <p>For the evluation testing of all sites, we use the following assistive technologies and tools:</p>
        <ul>
          <li><strong><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></strong> a free open-source bookmarklet designed to help test web content for accessibility.</li>
          <li><strong>Color Contrast Analyzer (CCA)</strong> an open-source tool displaying the contrast ratio for two selected colors. CCA is available at the following links:
            <ul>
              <li><a href="https://github.com/ThePacielloGroup/CCA-Win/releases/tag/2.5.0" target="_blank">CCA 2.5 for Windows</a></li>
              <li><a href="https://github.com/ThePacielloGroup/CCA-OSX/releases/tag/2.4" target="_blank">CCA 2.4 for macOS</a></li>
            </ul>
          </li>
          <li><strong><a href="https://wave.webaim.org/" target="_blank">WAVE</a></strong> Web accessibility evaluation tool</li>
          <li><strong>Screen reader</strong>: NVDA, Jaws</li>
          <li><strong>Mobile Devises</strong>: iSO, Andriod</li>
          <li><strong>Acrobat</strong>: CommonLook PDF Plug-in - Optional</li>
        </ul>
      </div>
    </div>
  </div>
</main>
