
  <div class="container-fluid ps-5 pt-5">
    <h2>{{ page.title}}</h2>
    <div class="row mx-5">
      <div class= "col-md-7">
        <p>Our programs offer valuable real-world experience allowing you to enhance your resume.
        You'll be contributing to client or company projects based on your skills and project availability.</p>

        <p><strong><u>Program Levels:</u></strong></p>
        <ol>
          <li><strong>Mentee:</strong> Designed for entrly - jr level to gain experience - Unpaid Mentorship</li>
          <li><strong>Inernship:</strong> Designed to inprove skills and boost work experience - Earn 10% commission on projects you complete</li>
          <li><strong>Mentor:</strong> Designed to assist in our mentorship program and boost work experiance - Earn 10% commission on all projects
          your mentee completes + an addition 10% on all projects you complete</li>
        </ol>
      </div>
      <div class="col-4 mx-5 px-5">
        <p><img src="/assets/img/a11y-social.png" alt="Kaffeinated Kodemonkey POCC Seal" style="width:13em; display: inline-block;position: relative; top:0em;left: -2em;"></p>
      </div>
    </div>

    <h2>Let's Begin</h2>
    <div class="row mx-5">
      <div class="col-12">
        <p>To ensure smooth progress and efficient collaboration all interaction will be done via email or LinkedIn Messenger. <!-- all work will be tracked in HubSpot and GitHub.--></p>

        <p>For the evluation testing of all sites, we use the following assistive technologies and tools:</p>
        <ul>
          <li><strong><a href="https://www.ssa.gov/accessibility/andi/help/install.html">ANDI</a></strong> a free open-source bookmarklet designed to help test web content for accessibility.</li>
          <li><strong>Color Contrast Analyzer (CCA)</strong> an open-source tool displaying the contrast ratio for two selected colors. CCA is available at the following links:
            <ul>
              <li><a href="https://github.com/ThePacielloGroup/CCA-Win/releases/tag/2.5.0" target="_blank">CCA 2.5 for Windows</a></li>
              <li><a href="https://github.com/ThePacielloGroup/CCA-OSX/releases/tag/2.4" target="_blank">CCA 2.4 for macOS</a></li>
            </ul>
          </li>
          <li><strong><a href="https://wave.webaim.org/" target="_blank">WAVE</a></strong> Web accessibility browser plug-in</li>
          <li><strong>Screen reader</strong>: NVDA, Jaws</li>
          <li><strong>Mobile Devises</strong>: iSO, Andriod</li>
          <li><strong>Acrobat</strong>: CommonLook PDF plug-in for evaluating PDF's</li>
        </ul>

        <p><a href="/Instruction.html" class="mt-3 btn btn-md btn-success">Proceed to Evaluation</a></p>
      </div>
    </div>
  </div>
