
    <h1>Welcome to the {{ page.title}}  Process!</h1>

    <p><img src="/assets/img/a11y-social.png" alt="Kaffeinated Kodemonkey POCC Seal" class="p-5" align="right" ></p>

    <p>At Kaffeinated Kodemonkey, we uphold the highest standards of accessibility, ensuring that all our products meet ADA
    Compliance requirements. Our commitment to accessibility is reflected in our rigorous Accessibility Evaluation Audit (AEA)
    process, where we utilize a range of A11y tools, screen readers, and assistive technologies.</p>

    <p>As an A11y Developer, Lead Moneky or Kodemonkey, your role is pivotal in guaranteeing that the product not only meets
    but exceed accessibility standards. Following the A11y Evaluation Audit Guidelines, you will assess the product using
    screen readers, mobile devices, assistive technologies, WAVE, and any other specified tools outlined in the project scope.</p>

    <p>Before embarking on any project, it's essential to thoroughly review the project scope. This will provide clarity on
    the required level of compliance, whether it's WCAG/508, WCAG only, AA, or AAA. Additionally, take note of any unique
    testing methods suggested or required for the project.</p>

    <h2>Getting started with the <strong><em>AEA</em></strong> process:</h2>
    <p>Understanding the challenges of manually evaluating every page, especially on large sites, we have streamlined
    the AEA process. We will provide a list of URLs required for review within the Project Space, along with the following
    critical areas for assessment:</p>

    <ul>
      <li>Site templates</li>
      <li>Interactive forms</li>
      <li>Dynamic content pages</li>
      <li>Pages with dialog modals and alert notifications</li>
      <li>Key entry and exit pages (including account login and recovery pages)</li>
      <li>Any pages that process payments</li>
      <li>Help and assistance pages</li>
    </ul>

    <h1>Instructions</h1>
    <p>All AEA will be conducted using the DHS Trusted Tester Process outlined below.</p>
    <p>Before you get started you will want to:</p>

    <ul>
      <li>Read <strong>Project Scope</strong></li>
      <li><strong>Create a dir/folder</strong> on you computer to save the json file and any other associated documents.</li>
      <li>Upong completion you will send this dir/folder to your Lead</li>
    </ul>

    <p>Remember, the Project Scope serves as a comprehensive guide, outlining any special instructions and providing essential
    information required to complete the AEA Report successfully.</p>

    <p><strong><em><span class="text-danger">*</span> The AEA is the evaluation and basis for all AEA documents.</em></strong></p>

    <div class="accordion mb-3" id="accordionExample">
      <!-- #1 Lanuch the AEA tool -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <strong>1) Complete Report</strong>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ol>
              <li><a href="AEA-Process/AEA-Tool.html" target="_blank" class="btn btn-sm btn-outline-success">Launch A11y Evaluation Audit</a> to record test results</li>
              <li>Selecta previous JSON File or load a new JSON file: First time use <strong><a href="{{ sitel.url }}/assets/Resources/SuccessCriteriaTT5.1.1.json" download>Trusted Tester v.5.1.1</a></strong> (for web) or <strong><a href="{{ sitel.url }}/assets/Resources/SuccessCriteriaTT4.json" download>Trusted Tester v.4</a></strong> (for software) (TT5.1.1 or TT4) </li>
              <li>Select Load File button.</li>
              <li>Referande the Project Scope to complete each form and the required fields.</li>
              <li>Add/Edit Test Results as needed</li>
              <li>Save the file as-is in JSON format</li>
              <li>Upon completion submit the JSON file to <strong><a href="mailto:kaffeinatedkodemonkey@gmail.com?subject=AEA JSON File">The A11y Dev Team</a></strong>.</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- #2 Complete Report -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <strong>2) Complete Report</strong>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse collapsed" data-bs-parent="#accordionExample">
          <div class="accordion-body">
          <p>Reference the Project Scope to complete required fields as indicated by a red asterisk. <span class="text-danger"><span class="text-danger"><span class="text-danger">*</span></span></span></p>
          <dl>
            <dt>Select ‘Show Product Section’ Show/Hide Button</dt>
            <dd>This expands the section to reveal all fields. The same button is also used to collapse and hide the fields.</dd>

            <dt>Input Product Name <span class="text-danger"><span class="text-danger"><span class="text-danger">*</span></span></span></dt>
            <dd>Complete the required form field, which has a character limit. The name is used to construct the filename of the saved JSON file.</dd>

            <dt>Input Product Version <span class="text-danger"><span class="text-danger"><span class="text-danger">*</span></span></span></dt>
            <dd>Complete the required form field which has a character limit. The version is used with the name to construct the filename of the saved JSON file.</dd>

            <dt>Input Product Owner/Vendor</dt>
            <dd>The form field is optional and has a character limit.</dd>

            <dt>Select Product Type</dt>
            <dd>The form field is optional. Use the dropdown menu and choose one:
              <ul>
                <li>Custom developed web page</li>
                <li>COTS</li>
                <li>Customization of COTS product</li>
                <li>GOTS application</li>
                <li>Software</li>
                <li>Other</li>
              </ul>
            </dd>

            <dt>Input Location</dt>
            <dd>The form field is optional and has a character limit.</dd>

            <dt>Input Product Description <span class="text-danger"><span class="text-danger"><span class="text-danger">*</span></span></span></dt>
            <dd>Complete the required form field which has a character limit.</dd>

            <dt>Input Notes</dt>
            <dd>The form field is optional and has a character limit. Notes can include items such as summary of defects identified as global issues, questions about the application defects, embedded non-accessible documents, or any notes that would be of value.</dd>
          </dl>

          </div>
        </div>
      </div>
      <!-- #3 Testing Information -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong>3) Testing Information</strong>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Reference the Project Scope to complete required fields as indicated by a red asterisk. <span class="text-danger"><span class="text-danger"><span class="text-danger">*</span></span></span></p>

            <dl>
              <dt>Select the ‘Show Testing Information Section’ Show/Hide Button</dt>

              <dd>This expands the section to reveal all fields. The same button is also used to collapse and hide the section.</dd>

              <dt>Input Company Name <span class="text-danger"><span class="text-danger">*</span></span></dt>
              <dd>Complete the required form field which has a character limit.</dd>

              <dt>Input Tester’s First Name <span class="text-danger"><span class="text-danger">*</span></span></dt>
              <dd>Complete the required form field.</dd>

              <dt>Input Tester’s Last Name <span class="text-danger"><span class="text-danger">*</span></span></dt>
              <dd>Complete the required form field.</dd>

              <dt>Input Trusted Tester ID</dt>
              <dd>This form field is optional but users are encouraged to provide a Trusted Testers certification number.</dd>

              <dt>Input Tester’s Email <span class="text-danger"><span class="text-danger">*</span></span></dt>
              <dd>Complete the required form field. Users have the option to use a government or a private email address.</dd>

              <dt>Input Testing Scope</dt>
              <dd>This form field is optional but is commonly used as a description or list of what was tested.</dd>

              <dt>Verify Testing Method and Version</dt>
              <dd>When the JSON file is loaded (refer to 2.1), these form fields are auto-populated and are read-only.</dd>
            </dl>
          </div>
        </div>
      </div>
      <!-- #4 Test Environment Information -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <strong>4) Test Environment Information</strong>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>This section does not contain any required fields but Trusted Testers are encouraged to complete this section.</p>

            <dl>
              <dt>Select the ‘Show Test Environment Section’ Show/Hide Button</dt>
              <dd>This expands the section to reveal all fields. The same button is also used to collapse and hide the section.</dd>

              <dt>Select the Browser Compatibility View</dt>
              <dd>Use the dropdown menu to select:
                <ul>
                  <li>None</li>
                  <li>Turned On</li>
                  <li>Turned Off </li>
                </ul>
              </dd>

              <dt>Choose Browser Type and Version</dt>
              <dd>Select the type of browser used by navigating to the dropdown menu to select the browser type. More than one browser type and version can be selected.</dd>

              <dt>Choose the Operating System and Version</dt>
              <dd>Select the operating system used by navigating to the dropdown menu to select the version used. More than one operating system and version can be selected. If ‘Other Operating System’ is selected, additional form fields for the Name and Version will become available.</dd>
            </dl>
          </div>
        </div>
      </div>
      <!-- #5 Enter or Edit Test Results -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <strong>5) Enter or Edit Test Results</strong>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>This step cannot be completed without first uploading a JSON file</p>

            <dl>
              <dt>Locate the Test Results Form </dt>
              <dd>Scroll down to find the Enter Test Results form. It is only visible after a valid JSON file is loaded</dd>

              <dt>Enter the Test Results</dt>
              <dd>Each row in the Test Results Form includes:
                <ul>
                  <li>A. Issue Number</li>
                  <li>B. Test Name</li>
                  <li>C. Test ID</li>
                  <li>D. Test Condition</li>
                  <li>E. Test Result - Use the dropdown to select
                    <ul>
                      <li>No Selection</li>
                      <li>Pass</li>
                      <li>Fail</li>
                      <li>Does Not Apply</li>
                    </ul>
                  </li>
                  <li>F. Browser - If the browser used for this test result is different it can be noted here.  When applicable, select the check box to change the browser. Use the dropdown to select the version of the browser used for the test.</li>
                  <li>G. Tester Comments - The form field has a character limit and is used for any comments about the test.</li>
                  <li>H. Location/Screen - The form field has a character limit and is used to provide details needed to locate the defect on the web page.</li>
                  <li>I. Screenshot - After a test result is added, a ‘Choose File’ button will appear to add images to the corresponding test result. To add a screenshot, select the ‘Choose File’ button, select the image file (PNG, JPEG, or GIF), and select Open.</li>
                  <li>J. Global Issue - Use the dropdown to select
                    <ul>
                      <li>None</li>
                      <li>Yes</li>
                      <li>No</li>
                    </ul>
                  </li>
                  <li>K. Go to Parent/Add Child Issue - The Child Issue is a separate issue added that is associated to the same Test ID, the parent.</li>
                </ul>
              </dd>
            </dl>

            <dt>Additional Option: Remediation Details.
            <dd>These columns are only available if ‘Show Remediation Detail’ is checked.
              <ul>
                <li>Remediation Details</li>
                <li>Remediation Screenshot</li>
                <li>Remediation Date</li>
              </ul>
            </dd>

            <dt>Save The file will be saved to the system’s Downloads folder by default.</dt>
          </div>
        </div>
      </div>
      <!-- #6 Add Remediation Details -->
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <strong>6) Add Remediation Details</strong>
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Any accessibility issues that are not addressed before production release should be tracked within the test results generated using ACRT to be prioritized in the product backlog.  Trusted Testers should coordinate with their IT Project Manager regarding remediation details.</p>

            <dl>
              <dt>Load JSON file</dt>

              <dt>Select the Checkbox for Show Remediation Detail Columns </dt>
              <dd>Two columns are added to the report next to Global Issues.</dd>

              <dt>Remediation Details</dt>
              <dd>Include the steps taken to remediate the accessibility issues identified. This field has a character limit.  </dd>

              <dt>Remediation Screenshot</dt>
              <dd><!--Add in any images needed to document the remediation. To add a screenshot, select the ‘Choose File’ button, select the image file (PNG, JPEG, or GIF) and select Open.-->
                At this time we are not requiring images to be added.
              </dd>

              <dt>Remediation Date</dt>
              <dd>This is only requirted if you are making remediations to the site. <br> Provide the date the accessibility issues were remediated and finalized.</dd>

              <dt>Enter the Remediation Details</dt>
              <dd>If a test fails add suggested remediation resolution for client's dev team to resolve the issue.<br>
                If you are making the remediations as you go then mark the criteria as passed and this will not be required.
              </dd>

              <dt>Save </dt>
              <dd>The file will be saved to the system’s Downloads folder by default.</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
