<!doctype html>
<html lang="en" class="h-100">

  {% include head.html %}

  <body class="d-flex flex-column h-100">
    {% include header.html %}

    <div class="container-fluid">
      <div class="row mx-3 my-3">
        <div class="col-3">

          <hr class="border border-success border-1 opacity-25">
          <h3 class="text-success ps-4 pb-0">{{ page.category }}</h3>
          <hr class="border border-success border-1 opacity-25">

          {% assign current_cat = page.category %}

          <ul>
          {% for page in site.pages %}
            {% if page.category == current_cat %}
              <li>
                <a href="{{ site.url }}{{ page.permalink }}">{{ page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>


        </div>
        <div class="col-9 pt-4">
          <h1>{{ page.title }}</h1>

          {{ content }}
        </div>
      </div>
    </div>

    <br><br>

    {% include footer.html %}

  </body>
</html>
